In [5]:
import database_utils
import utils
DB_PATH = "products.db"

In [2]:
database_utils.create_db(DB_PATH, n_employees=200, n_products=20000, n_txns_per_product=200)

SQLite database 'products.db' created with a 'transactions' table (event-sourced), 'products' table, and 'employees' table.

In [6]:
schema_text = database_utils.get_schema(DB_PATH)
utils.print_html(schema_text, f"Table Schemas in {DB_PATH}")

In [8]:
database_utils.execute_sql(
    query="""
    select * from products where is_limited=1
    """,
    db_path=DB_PATH)

,id,name,brand,category,color,is_limited,notes,release_date
0,46,Reebok shoes,Reebok,shoes,white,1,None,1998-01-09 00:16:56.031501
1,53,New Balance t-shirt,New,Balance,green,1,None,2017-06-30 16:10:41.484856
2,54,Puma cleats,Puma,cleats,black,1,None,2021-03-01 20:55:45.224746
3,69,Reebok shoes,Reebok,shoes,green,1,None,2002-12-07 02:55:21.093563
4,74,Puma hat,Puma,hat,black,1,None,2013-02-24 12:45:55.093724
...,...,...,...,...,...,...,...,...
1021,19944,Puma shoes,Puma,shoes,green,1,None,2013-11-13 01:34:55.561252
1022,19976,Reebok hat,Reebok,hat,black,1,None,2025-05-22 06:44:29.933568
1023,19986,Puma shoes,Puma,shoes,white,1,None,2019-01-01 12:17:50.990154
1024,19990,Puma cleats,Puma,cleats,white,1,None,2014-01-15 08:37:25.464776
1025,19992,Nike cleats,Nike,cleats,blue,1,None,2015-12-12 02:24:21.041076