In [1]:
import database_utils
import utils
DB_PATH = "products.db"

In [2]:
database_utils.create_db(DB_PATH, n_employees=200, n_products=20000, n_txns_per_product=200)

SQLite database 'products.db' created with a 'transactions' table (event-sourced), 'products' table, and 'employees' table.

In [3]:
schema_text = database_utils.get_schema(DB_PATH)
utils.print_html(schema_text, f"Table Schemas in {DB_PATH}")

In [4]:
query = """
    select * from products where is_limited=1
    order by release_date asc
    limit 10
    """
results = database_utils.execute_sql(
    query=query,
    db_path=DB_PATH)
utils.print_html(results, query)

Let's do an example of joining tables...

Which employee is responsible for releasing the most products?

In [5]:
query = """
    select employees.name, COUNT(transactions.id)
    from employees
    join transactions on employees.id=transactions.employee_id
    where transactions.action="insert"
    """
results = database_utils.execute_sql(
    query=query,
    db_path=DB_PATH)
utils.print_html(results, "Which employee is responsible for releasing the most products?")

Because of how I've seeded the database, all insertions were credited to a single employee. This is not an ideal situation, but is not unlike what could occur in real databases.

Now let's investigate sales

_Who are the top performing employees in terms of sales?_

Note that, due to how the database is currently setup (and how the business is flattened), there is more than one valid way to answer this question.
1. Of all employees, who has accumulated the highest total sales
2. Of only employees in the sales organization, who has the highest total sales

In [6]:
query="""
    select employees.name, employees.department, SUM(-transactions.qty_delta * transactions.unit_price) as total_revenue
    from employees
    join transactions on employees.id=transactions.employee_id
    where transactions.action="sale"
    group by employees.name
    order by total_revenue desc
    limit 10;
    """
results = database_utils.execute_sql(
    query=query,
    db_path=DB_PATH)
utils.print_html(results, "Who are the top performing employees in terms of sales?")

_Who are the top performing employees in terms of sales this calendar year?_

In [7]:
# query=f"""
#     select employees.name, employees.department, SUM(-transactions.qty_delta * transactions.unit_price) as total_revenue
    # group by employees.name
query=f"""
    select employees.name, employees.department, transactions.ts as transaction_date, -transactions.qty_delta * transactions.unit_price as revenue
    from employees
    join transactions on employees.id=transactions.employee_id
    where transactions.action="sale" and transactions.ts>=date('now', 'start of year')
    order by transaction_date asc
    limit 10;
    """
results = database_utils.execute_sql(
    query=query,
    db_path=DB_PATH)
utils.print_html(results, "Who are the top performing employees in terms of sales this calendar year?")

Unfortunately, because the timestamp field for transactions is autogenerated based on when the database entry is entered, it appears that it is not possible to look at different segments of time. All the data was generated at the time of running `database_utils.create_db(...)`. So I may need to add a column to the transactions table to backdate some of them.

In [8]:
database_utils.execute_sql(
    query="select date('now', 'start of year')",
    db_path=DB_PATH)

  date('now', 'start of year')
0                   2025-01-01