In [1]:
import ski_hill_database_utils
import utils
DB_PATH = "ski_hill.db"

Populate database with synthetic data

In [2]:
ski_hill_database_utils.create_ski_hill_db(DB_PATH, n_huts=5)

SQLite database 'ski_hill.db' created with a 'mountain_huts' table and 'trails' table.

In [3]:
schema_text = ski_hill_database_utils.get_schema(DB_PATH)
utils.print_html(schema_text, f"Table Schemas in {DB_PATH}")

In [4]:
query = """
    WITH bd_trails AS (
        SELECT hut1, hut2 FROM trails
        UNION
        SELECT hut2 AS hut1, hut1 AS hut2 FROM trails
    )
    SELECT 
        start.name AS startpt,
        mid.name AS middlept,
        end.name AS endpt
    FROM bd_trails AS first
    JOIN mountain_huts AS start ON start.id = first.hut1
    JOIN mountain_huts AS mid ON mid.id = first.hut2
    JOIN LATERAL (
        SELECT hut2
        FROM bd_trails
        WHERE hut1 = first.hut2
    ) AS second ON true
    JOIN mountain_huts AS end ON end.id = second.hut2
    WHERE start.altitude > mid.altitude AND mid.altitude > end.altitude;
    """
results = ski_hill_database_utils.execute_sql(
    query=query,
    db_path=DB_PATH)
utils.print_html(results, query)

Execution failed on sql 'WITH bd_trails AS (
        SELECT hut1, hut2 FROM trails
        UNION
        SELECT hut2 AS hut1, hut1 AS hut2 FROM trails
    )
    SELECT
        start.name AS startpt,
        mid.name AS middlept,
        end.name AS endpt
    FROM bd_trails AS first
    JOIN mountain_huts AS start ON start.id = first.hut1
    JOIN mountain_huts AS mid ON mid.id = first.hut2
    JOIN LATERAL (
        SELECT hut2
        FROM bd_trails
        WHERE hut1 = first.hut2
    ) AS second ON true
    JOIN mountain_huts AS end ON end.id = second.hut2
    WHERE start.altitude > mid.altitude AND mid.altitude > end.altitude;': near "SELECT": syntax error